language: node_js
node_js:
  - 6
install:
  - yarn
  - yarn run bootstrap
script:
  - yarn run test-ci
cache: yarn
env:
  global:
    - USE_YARN=yes
addons:
  code_climate:
    repo_token: CODE_CLIMATE_TOKEN
after_success:
  - yarn global add codeclimate-test-reporter
  - codeclimate-test-reporter < coverage/lcov.info