@media screen and (min-width: 768px) {
  .jumbotron .jumbo-title {
    font-size: 46px;
  }
}

.btn-group, .btn-group-vertical {
  margin-bottom: 10px;
}

.container.navbar-fixed-top {
  top: 57px;
}

.developments-page {
  margin-top: 37px;
}

.nav-pills li {
  margin-top: 2px;
}

.nav-pills li a {
  color: #fff;
  background-color: #337ab7;
}

.nav-pills li a:hover,
.nav-pills li a:focus {
  background-color: #286090;
}

.nav-pills li.active a,
.nav-pills li.active a:hover,
.nav-pills li.active a:focus,
.nav-pills li.active a:active,
.nav-pills li.active a:visited {
  background-color: #5cb85c;
}

@media screen and (max-width: 362px) {
  .developments-page {
    margin-top: 78px;
  }
}

.developments-filter {
  z-index: 12;
  top: 40px;
  padding: 10px 0;
  background-color: #e2e2e2;
}
