/* Set the fixed height of the footer here */
.footer {
  padding-top: 15px;
  height: 60px;
  background-color: #e2e2e2;
}

.footer-link {
  color: #4e5d6c;
}

.icon {
  font-size: 2em;
}

.tooltip.top {
  margin-top: -8px;
}

.build-link {
  margin-top: 9px;
}