html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -45px;
  /* Pad bottom by footer height */
  padding: 0 0 45px;
}

/* Set the fixed height of the footer here */
.footer {
  padding-top: 15px;
  height: 45px;
  background-color: #f5f5f5;
}